[Unit]
Description=Packet Filtering Framework
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=@SBINDIR@/iptables-restore @SYSCONFDIR@/iptables/iptables.rules
ExecReload=@SBINDIR@/iptables-restore @SYSCONFDIR@/iptables/iptables.rules
ExecStop=@SYSTEMD_DIR@/scripts/iptables-flush
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
