[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/nginx/nginx.pid
ExecStartPre=@BASE_BINDIR@/mkdir -p /var/log/nginx
ExecStartPre=@SBINDIR@/nginx -t
ExecStart=@SBINDIR@/nginx
ExecReload=@BASE_BINDIR@/kill -s HUP $MAINPID
ExecStop=@BASE_BINDIR@/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
